html, body {
  margin: 0;
  padding: 0;
  background: #CAC5C5;
}

#globe {
  cursor: default;  
}

.star-background {
  background-image: url(./../img/Stars.gif);
}

.country-name-text {
  font-size: 25px;
  margin-top: 150px;
  padding-bottom: 20px;
}

.info-text {
  font-size: 20px;
  margin-top: 10px;
}

.globe-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #fff;
  margin-left: 30px;
  position: absolute;
  width: 100%;
}

.common-text-style {
  position: absolute;
  color: #fff;
  font-family: sans-serif;
  margin-left: 4%;
  width: 300px;
}

.common-text-shadow {
  text-shadow: 2px 2px 4px red;
}

.button-wrapper {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 10px;
  flex-direction: row;
}
.button {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 15px;
  margin-left:20px;
  word-spacing: normal;
  letter-spacing: 5px;
  border: 1px solid white;
  background: white;
  cursor: pointer;
  line-height: 12px;
  width: 50px;
  margin-top: 1px;
  margin-right: 2px;
  position:absolute;
  top:0;
  right:0;
}